/* Import sass variables */
@import 'sass-variables';

h1{
    font-size: $title-font-size;
    color: $text-color;
}

/* Nesting */
.navbar{
    background-color: aqua;
    color: red;

    .menu{
        li{
            padding: 25px;
        }
    }

    &:hover{
        cursor: pointer;
        color: blue;
    }
}

.div-items{
    color: orange;
    &.extra-special{
        font-weight: bold;
    }
}

/* Inheritance */
h2{
    @extend h1;
    border: 1px dotted blue;
}

/* Mixin */
@mixin theme($color, $background, $font, $border){
    color: $color;
    background-color: $background;
    font-size: $font;
    border-color: $border;
    border-style: dashed;
    border-width: 5px;
}

.item-one{
    @include theme(white, black, 20px, red);
}

.item-two{
    @include theme(aqua, gray, 40px, blue);
}

.item-four{
    @include theme(green, blue, 60px, yellow);
}